<ion-header >
  <ion-toolbar color="danger" >
      <ion-buttons slot="start" (click)="routerToProfile()">
          <ion-button>
            <ion-icon slot="icon-only" color="light" name="ios-contact"></ion-icon>
            <ion-label >KI  Moroke</ion-label>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="routerToSettings()">
            <ion-button>
              <ion-icon slot="icon-only" color="light" name="more"></ion-icon>
             
            </ion-button>
          </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder="MY QR Code data" [(ngModel)] ="qrData">

    </ion-input>
  </ion-item>

  <ion-segment [(ngModel)] ="elementType" color="danger" style="margin-top: 5%;">
  
    <ion-segment-button value="canvas">
      <ion-label>Canvas</ion-label>
    </ion-segment-button>

    <ion-segment-button value="img">
      <ion-label>Image</ion-label>
    </ion-segment-button>

    <ion-segment-button value="url">
      <ion-label>URL</ion-label>

    </ion-segment-button>

  </ion-segment>

  <ion-button expand="block" (click)="scanCode()" color="medium"  style="margin-top: 5%;">
    <ion-icon name="qr-scanner"></ion-icon>
    Scan Code
  </ion-button>
  <ion-card *ngIf="qrData" class="ion-text-center">
    <ngx-qrcode [qrc-value]="qrData" [qrc-element-type]="elementType">

    </ngx-qrcode>

    <ion-card-content>
      <ion-button shape="around" expand="block" color="medium" (click)="downloadQR()" *ngIf="elementType ==='canvas'">
      
      <ion-icon name="download" slot="start"></ion-icon>

      Download QR Code
    </ion-button>

    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan:{{scannedCode}}
    </ion-card-content>
  </ion-card>
</ion-content>
