<ion-header >
  <ion-toolbar color="danger" >
      <ion-buttons slot="start" (click)="routerToProfile() ">
          <ion-button>
            <ion-icon slot="icon-only" color="light" name="ios-contact"></ion-icon>
            <ion-label >KI  Moroke</ion-label>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="routerToSettings()">
            <ion-button>
              <ion-icon slot="icon-only" color="light" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
   
  </ion-toolbar>
</ion-header>
<ion-content  color="light" > 
  <div >

    </div>
    <ion-card >
      <ion-img src="assets/image/undraw_under_construction_46pa.png"></ion-img>
      <ion-card-content >
          <ion-card-subtitle>
            Tools management
          </ion-card-subtitle>
        </ion-card-content>
    </ion-card>
    <ion-card >
        <ion-card-header>
            <ion-card-title style="font-size:15px;">
                Technicians Tools 
           </ion-card-title>
  
        </ion-card-header>
        <ion-item>
            <ion-avatar slot="start">
              <img src="assets/image/driller.png">
            </ion-avatar>
            <ion-label>Driller Set</ion-label>
            <ion-select multiple="true">
                <ion-select-option value="Drill bits" selected>Drill bits</ion-select-option>
                <ion-select-option value="Screwdriller bit Set">Screwdriller bit Set</ion-select-option>
                
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start">
                <img src="assets/image/ladder.png">
              </ion-avatar>
              <ion-label>Step ladder</ion-label>
              <ion-toggle color="danger"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/image/tools.png">
                </ion-avatar>
                <ion-label>Pick and Spade</ion-label>
                <ion-select multiple="true">
                    <ion-select-option value="Pick" selected>Pick</ion-select-option>
                    <ion-select-option value="Spade">Spade</ion-select-option>
                    
                  </ion-select>
              </ion-item>
              <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/image/toolbox.png">
                  </ion-avatar>
                  <ion-label>Toolbox</ion-label>
                </ion-item>
                 <ion-item>
                    <ion-avatar slot="start">
                      <img src="assets/image/cement.png">
                    </ion-avatar>
                    <ion-label>Cement and Sand</ion-label>
                    <ion-select multiple="true">
                        <ion-select-option value="Cement" selected>Cement</ion-select-option>
                        <ion-select-option value="Sand">Sand</ion-select-option>
                        
                      </ion-select>
                  </ion-item>
                 
    </ion-card >
    <ion-button expand="block" color="medium">Save Tools</ion-button>
  <ion-card class="back">
    <ion-card-header>
        <ion-card-title style="font-size:15px;">
            Safety Suit 
       </ion-card-title>

    </ion-card-header>
    <ion-item>
        <ion-avatar slot="start">
          <img src="assets/image/footwear.png">
        </ion-avatar>
        <ion-label>Footwear</ion-label>
        <ion-toggle [(ngModel)]="safetysuit.footwear"  color="danger"></ion-toggle>
      </ion-item> 
      <ion-item>
          <ion-avatar slot="start">
            <img src="assets/image/helmet.png">
          </ion-avatar>
          <ion-label>Helmet</ion-label>
          <ion-toggle [(ngModel)]="safetysuit.helmet"  color="danger"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="assets/image/mask.png">
            </ion-avatar>
            <ion-label>Mask</ion-label>
            <ion-toggle [(ngModel)]="safetysuit.mask"  color="danger"></ion-toggle>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start">
                <img src="assets/image/gloves.png">
              </ion-avatar>
              <ion-label>Gloves</ion-label>
              <ion-toggle [(ngModel)]="safetysuit.gloves"  color="danger"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/image/safety-glasses.png">
                </ion-avatar>
                <ion-label>Glasses</ion-label>
                <ion-toggle [(ngModel)]="safetysuit.glasess" color="danger"></ion-toggle>
              </ion-item>
              <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/image/high-visibility.png">
                  </ion-avatar>
                  <ion-label>Visibility Jacket</ion-label>
                  <ion-toggle [(ngModel)]="safetysuit.visibilityjacket"  color="danger"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start">
                      <img src="assets/image/worker.png">
                    </ion-avatar>
                    <ion-label>Work clothes</ion-label>
                    <ion-toggle  [(ngModel)]="safetysuit.worksuit" color="danger"></ion-toggle>
                  </ion-item>

                 
  </ion-card> 
  <ion-button expand="block" (click)="saveSafetySuit()" color="medium">Save Safety Wear</ion-button>
  <ion-card style="height: 12%;"  >
      <ion-item style="margin-top: -12px;">
          <ion-fab-button size="small" color="danger"><ion-icon name="paper" style="zoom: 1;"></ion-icon></ion-fab-button>
        
          <ion-card-header>
              <ion-card-subtitle style="margin-top: 2px;font-size: 1rem;" class="ion-text-capitalize">Report</ion-card-subtitle>
              <ion-card-subtitle style="font-size:0.8rem " class="ion-text-capitalize"> Tools or PPE </ion-card-subtitle>
          </ion-card-header>
      </ion-item>
  </ion-card>  
</ion-content>
