  <ion-header>
    <ion-toolbar color="danger">
      <ion-title class="ion-text-center">Change Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div style="margin-top: 10%;">
      <ion-item >
        <ion-label position="stacked">Current Password</ion-label>
      <ion-input type="text" name="currentpassword"></ion-input>
    </ion-item>
  </div>

  <div style="margin-top: 5%;">
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input  type="text" name="newpassword"></ion-input>
    </ion-item>
  </div>

    <div style="margin-top: 5%;">
    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input  type="text" mame="confirmpassword"></ion-input>
    </ion-item>
  </div>

  <div style="margin-top: 5%; ">
    <ion-button color="danger" expand="block" (click)="routerToLoginPage()" >Submit</ion-button>
  </div>
  </ion-content>
