<ion-tabs>

  <ion-tab-bar color="danger" slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teams">
      <ion-icon name="people"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tools">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Tools</ion-label>
    </ion-tab-button>
  

  <ion-tab-button tab="scanner">
    <ion-icon name="qr-scanner"></ion-icon>
    <ion-label>Scan</ion-label>
  </ion-tab-button>


<ion-tab-button tab="sales">
  <ion-icon name="md-pie"></ion-icon>
  <ion-label>Sales</ion-label>
</ion-tab-button>
</ion-tab-bar>


</ion-tabs>
